includes:
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
  level: 2
  phpVersion: 80200
  paths:
    - plugin
  bootstrapFiles:
    - joomla/libraries/vendor/autoload.php
  scanDirectories:
    - joomla
  excludePaths:
    - */vendor/*
    - */tests/*
    - */node_modules/*
  ignoreErrors:
  reportUnmatchedIgnoredErrors: false
